@font-face {
    font-family: "P1";
    src: url(fonts/P1.ttf);
}
@font-face {
    font-family: "ohio";
    src: url(fonts/Ohio.ttf);
}
@font-face {
    font-family: "Snowball";
    src: url(fonts/Snowball.ttf);
}
@font-face {
    font-family: "Mirza";
    src: url(fonts/JosefinSlab-Bold.ttf);
}
body{
    background: linear-gradient(#fafeff, #e4f3ff, #c9f5fd, #d1f5fc);
    text-align: center;
    margin: 0 0 0 0;
}

h1{
    font-size: 350%;
    color: #289abd;
    font-family: "Snowball", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
}
.hello{
    font-family:"ohio";
    font-size: 70px;
    color: #f1c708;
    text-shadow: 2px 2px tomato;
    }
.myskill{
    font-family:"ohio";
    font-size: 70px;
    color: #f1c708;
    text-shadow: 2px 2px tomato;
}
.programmer{
    font-family: "P1";
    text-align: center;
    color: #1699b1;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bolder;
    line-height: 1.5;
}

.top-container{
    padding-top: 100px;
    position: relative;
}

.image{
    width: 50%;
}

.girl{
    margin-top: 50px;
    width: 30%;
}
.hrline{
    border-top: 4px dotted rgb(150, 150, 150);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin: 10px 700px 10px 700px;
}
.paragraph{
    text-align: center;
    margin: 0% 20% 50% 20%;
    font-size: 100%;
    font-family: "Mirza";
    color: #1699b1;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bolder;
    line-height: 1.5;
}